.logo {
  position: absolute;
  top: 20px;
  left: calc(50% - 50px);
  transform: translate(-50%, -150%);

  animation: logoProject 1s ease forwards;

  @keyframes logoProject {
    to {
      transform: translate(-50%, 0%);
    }
  }

  @media screen and (max-width: 1030px) {
    //transform: translate(0%, 0%);
    left: 80px;
  }
}