.navigation {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.4rem;
  line-height: 28px;
  color: $color-4;
  width: 100px;

  .cercle-navigation {
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: $color-2;
    opacity: 10%;
    top: -300px;
    left: -260px;
    z-index: -1;
    animation: navAnim 20s infinite alternate;

    @keyframes navAnim {
      50% {
        transform: scale(1.2);
      }

      100% {
        transform: scale(1);
      }
    }

    @media screen and (max-width: 430px) {
      height: 50px;
      width: 50px;
    }
  }

  .nav-active {
    #nav-li-nintendo {
      color: $color-Nintendo;
      transform: scale(1.2);
      letter-spacing: 1px;
      transform: translateX(5px);
      text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
      opacity: 1;
    }

    #nav-li-ScottoDiCesare {
      color: $color-ScottoDiCesare;
      transform: scale(1.2);
      letter-spacing: 1px;
      transform: translateX(5px);
      text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
      opacity: 1;
    }

    #nav-li-YourResto {
      color: $Color-YourResto;
      transform: scale(1.2);
      letter-spacing: 1px;
      transform: translateX(5px);
      text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
      opacity: 1;
    }

    #nav-li-YourBlog {
      color: $color-YourBlog;
      transform: scale(1.2);
      letter-spacing: 1px;
      transform: translateX(5px);
      text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
      opacity: 1;
    }

    #nav-li-ComeUp {
      color: $color-ComeUp;
      transform: scale(1.2);
      letter-spacing: 1px;
      transform: translateX(5px);
      text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
      opacity: 1;
    }
  }

  ul:hover li:not(:hover) {
    opacity: .5;
  }

  ul:hover li:hover {
    color: $black;
  }

  .nav-portfolio {
    //cursor: pointer;
    display: flex;
    transition: .5s;
    width: 200px;


    &:hover .nav-projects,
    .nav-projects:hover {

      visibility: visible;
      opacity: 1;
    }

    .nav-projects {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transform: translateX(100px);
      transition: .3s;
      width: 200px;

      li {
        transition: .3s;
      }
    }
  }

  #nav-li-nintendo:hover {
    opacity: 1;
    color: $color-Nintendo;
    transform: scale(1.2);
    letter-spacing: 1px;
    transform: translateX(5px);
    text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
  }

  #nav-li-ScottoDiCesare:hover {
    opacity: 1;
    color: $color-ScottoDiCesare;
    transform: scale(1.2);
    letter-spacing: 1px;
    transform: translateX(5px);
    text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
  }

  #nav-li-YourResto:hover {
    color: $Color-YourResto;
    transform: scale(1.2);
    letter-spacing: 1px;
    transform: translateX(5px);
    text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
  }

  #nav-li-YourBlog:hover {
    color: $color-YourBlog;
    transform: scale(1.2);
    letter-spacing: 1px;
    transform: translateX(5px);
    text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
  }

  #nav-li-ComeUp:hover {
    color: $color-ComeUp;
    transform: scale(1.2);
    letter-spacing: 1px;
    transform: translateX(5px);
    text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
  }
}