.navigation {
  position: absolute;
  top: 20px;
  left: calc(50% + 20px);
  transform: translateY(-150%);
  font-size: 1.1rem;
  line-height: 20px;
  animation: navProject 1s ease forwards;
  z-index: 10;

  @media screen and (max-width: 1030px) {
    left: 150px;
  }

  @media screen and (max-width: 430px) {
    top: 50px;
    left: 50px;
  }

  @media screen and (max-height: 739px) {
    display: none;
  }

  @keyframes navProject {
    to {
      transform: translateY(0);
    }
  }

  ul li {
    transition: .3s;
  }

  ul:hover li:hover {
    transform: translateX(5px);
  }

  .cercle-navigation {
    position: absolute;
    top: -120px;
    left: -20px;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;
    border-radius: 50%;
    opacity: 100%;
    z-index: -1;
    animation: navAnim 10s infinite alternate;

    @keyframes navAnim {
      0% {
        transform: translate(-50%, -50%) scale(1.2);
      }

      100% {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  .nav-portfolio {
    display: flex;

    &:hover .nav-projects,
    .nav-projects:hover {

      visibility: visible;
      opacity: 1;
    }

    .nav-projects {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transform: translateX(65px);
      transition: .3s;
      width: max-content;
      padding-left: 30px;

      li {
        transition: .3s;
      }
    }
  }
}