@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Questrial-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/Michroma-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: none;
  box-shadow: 0 0 0 3px red inset;
}

html {
  scroll-behavior: unset;
}

a {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "font-1", sans-serif;
  height: 100vh;
  overflow: hidden;
}
@media screen and (max-width: 430px) {
  body {
    position: relative;
  }
}

main {
  position: relative;
}

.navigation {
  position: absolute;
  top: 20px;
  left: calc(50% + 20px);
  transform: translateY(-150%);
  font-size: 1.1rem;
  line-height: 20px;
  animation: navProject 1s ease forwards;
  z-index: 10;
}
@media screen and (max-width: 1030px) {
  .navigation {
    left: 150px;
  }
}
@media screen and (max-width: 430px) {
  .navigation {
    top: 50px;
    left: 50px;
  }
}
@media screen and (max-height: 739px) {
  .navigation {
    display: none;
  }
}
@keyframes navProject {
  to {
    transform: translateY(0);
  }
}
.navigation ul li {
  transition: 0.3s;
}
.navigation ul:hover li:hover {
  transform: translateX(5px);
}
.navigation .cercle-navigation {
  position: absolute;
  top: -120px;
  left: -20px;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 400px;
  border-radius: 50%;
  opacity: 100%;
  z-index: -1;
  animation: navAnim 10s infinite alternate;
}
@keyframes navAnim {
  0% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
.navigation .nav-portfolio {
  display: flex;
}
.navigation .nav-portfolio:hover .nav-projects,
.navigation .nav-portfolio .nav-projects:hover {
  visibility: visible;
  opacity: 1;
}
.navigation .nav-portfolio .nav-projects {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateX(65px);
  transition: 0.3s;
  width: -moz-max-content;
  width: max-content;
  padding-left: 30px;
}
.navigation .nav-portfolio .nav-projects li {
  transition: 0.3s;
}

.home {
  height: 100%;
  width: 100%;
  position: absolute;
}
.home .home-main {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
  position: relative;
}
.home .home-main .img-content {
  margin: 20px;
  border-radius: 20px;
  max-width: 400px;
  position: absolute;
  transform: translate(-307px, -20px);
  box-shadow: -1px 1px 1px #2DEEE7, -2px 2px 1px #2DEEE7, -3px 3px 1px #2deee7, -20px 18px 60px rgba(8, 8, 8, 0.51), -20px 20px 37px 0px rgba(45, 238, 231, 0.2039215686);
}
@media screen and (max-width: 1110px) {
  .home .home-main .img-content {
    transform: translateX(0);
  }
}
.home .home-main .img-content img {
  -o-object-fit: center;
     object-fit: center;
  -o-object-position: 0%;
     object-position: 0%;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.home .home-main .main-content {
  position: absolute;
  transform: translate(40px, 160px);
}
@media screen and (max-width: 1110px) {
  .home .home-main .main-content {
    transform: translate(40px, 220px);
  }
}
.home .home-main .main-content h1 {
  font-size: 2rem;
  position: relative;
  font-family: "font-2", serif;
}
@media screen and (min-width: 1110px) {
  .home .home-main .main-content h1 {
    font-size: 5rem;
  }
}
.home .home-main .main-content h2 {
  font-weight: 100;
  position: relative;
  font-size: 2rem;
}
@media screen and (min-width: 1110px) {
  .home .home-main .main-content h2 {
    font-size: 5rem;
  }
}

.social-network {
  position: absolute;
  left: -80px;
  top: 20px;
  font-size: 1.8rem;
}
@media screen and (max-width: 1300px) {
  .social-network {
    left: 20px;
  }
}
.social-network ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.social-network ul a {
  transition: 0.3s ease-out;
  width: 100%;
  height: 100%;
}
.social-network ul a i {
  color: #2DEEE7;
  font-size: 45px;
  border-radius: 50%;
  box-shadow: -20px 18px 60px rgba(8, 8, 8, 0.51), -20px 20px 37px 0px rgba(45, 238, 231, 0.2039215686);
}
.social-network ul a i:hover {
  transform: scale(1.4);
  transition: 0.3s ease-out;
}

.scroll-bottom a {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  font-size: 4rem;
  color: #00c1ec;
  transition: 0.25s;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-bottom a span {
  line-height: 1.5;
}
.scroll-bottom a:hover {
  font-size: 4.8rem;
}
.scroll-bottom a:active {
  font-size: 4rem;
}
.scroll-bottom .left {
  left: 0px;
}
.scroll-bottom .right {
  right: 0px;
}

.contact {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.contact:after {
  content: "";
  height: 700px;
  width: 700px;
  background: #e7f7fe;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  right: -460px;
  z-index: -10;
  animation: contactAnim 25s alternate infinite;
}
@media screen and (max-width: 840px) {
  .contact:after {
    height: 400px;
    width: 400px;
    top: 520px;
    right: -140px;
  }
}
@media screen and (max-width: 430px) {
  .contact:after {
    display: none;
  }
}
@keyframes contactAnim {
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 440px) {
  .contact .navigation {
    display: none;
  }
}
.contact .logo {
  top: 8px;
  right: 1rem;
}
.contact .form-container {
  margin: 7% 0 0 24%;
  max-width: 50%;
  position: relative;
  max-width: 300px;
}
@media screen and (max-width: 740px) {
  .contact .form-container {
    margin: 2rem 0 0 30%;
  }
}
@media screen and (max-width: 440px) {
  .contact .form-container {
    margin-left: 2rem;
  }
}
.contact .form-container h2 {
  margin-bottom: 50px;
}
.contact .form-container h2:after {
  content: "";
  height: 70px;
  width: 70px;
  border: 1px #00c1ec solid;
  border-radius: 50%;
  position: absolute;
  top: -22px;
  left: 133px;
  z-index: -1;
}
.contact .form-container .form-content {
  display: grid;
}
.contact .form-container .form-content input,
.contact .form-container .form-content textarea {
  background: none;
  font-family: "font-1", sans-serif;
  font-size: 1.2rem;
  border-bottom: 1px solid #00c1ec;
  border-radius: 5px;
}
@media screen and (min-width: 1200px) {
  .contact .form-container .form-content input,
  .contact .form-container .form-content textarea {
    font-size: 1.5rem;
  }
}
.contact .form-container .form-content input {
  padding: 10px 6px;
  margin-bottom: 30px;
}
.contact .form-container textarea {
  resize: none;
  padding: 6px 0;
  height: 70px;
}
@media screen and (max-width: 540px) {
  .contact .form-container textarea {
    width: 75%;
    padding: 12px 0;
  }
}
.contact .form-container input.button {
  background: #e7f7fe;
  height: 55px;
  width: 126px;
  border-radius: 50px;
  margin-top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
  border: none;
}
.contact .formMessage p {
  border-radius: 20px;
  text-align: center;
  padding: 5px 0;
}
.contact .formMessage .success {
  background: rgb(139, 248, 139);
}
.contact .formMessage .error {
  background: rgb(246, 147, 147);
}

.contact-infos {
  position: absolute;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-rows: repeat(4, 23%) 12%;
  height: 70%;
  width: 30%;
  max-width: 500px;
}
@media screen and (max-width: 740px) {
  .contact-infos {
    height: 200px;
    width: 100%;
    max-width: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b c" "d d d" "e e f";
  }
}
@media screen and (max-width: 540px) {
  .contact-infos {
    grid-template-rows: repeat(3, 60px);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "b b b c c c" "d d d d d d" "e e e e f f";
  }
}
@media screen and (max-height: 500px) {
  .contact-infos {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contact-infos {
    width: 35%;
    height: 83%;
  }
}
.contact-infos h4 {
  color: rgb(141, 141, 141);
  font-size: 1.3rem;
  font-weight: 200;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .contact-infos h4 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1200px) {
  .contact-infos p {
    font-size: 1.5rem;
  }
}
@media screen and (max-height: 640px) {
  .contact-infos .email,
  .contact-infos .phone {
    display: none;
  }
}
.contact-infos .email .content p,
.contact-infos .phone .content p {
  transition: 0.25s;
}
.contact-infos .email .content p:hover,
.contact-infos .phone .content p:hover {
  transform: translateX(5px);
}
.contact-infos .address {
  position: relative;
}
@media screen and (max-width: 540px) {
  .contact-infos .address {
    display: none;
  }
}
.contact-infos .address .content {
  position: absolute;
  right: 10px;
}
.contact-infos .phone {
  position: relative;
}
@media screen and (max-width: 540px) {
  .contact-infos .phone {
    text-align: center;
    font-size: 0.8rem;
    grid-area: b;
  }
}
.contact-infos .phone .content {
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
}
@media screen and (max-width: 540px) {
  .contact-infos .phone .content {
    position: relative;
    margin: 0 auto;
    left: 0;
    transform: translateX(0);
  }
}
@media screen and (max-width: 540px) {
  .contact-infos .email {
    grid-area: c;
    font-size: 0.8rem;
    text-align: center;
  }
}
.contact-infos .social-network {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 740px) {
  .contact-infos .social-network {
    width: 50%;
    grid-area: d;
  }
}
@media screen and (min-width: 1200px) {
  .contact-infos .social-network {
    font-size: 2rem;
  }
}
.contact-infos .social-network .content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.contact-infos .credits {
  text-align: center;
}
@media screen and (max-width: 740px) {
  .contact-infos .credits {
    transform: translateY(20px);
    font-size: 0.7rem;
    margin-right: 1rem;
    grid-area: f;
  }
}
.contact-infos .credits p {
  font-size: 0.9rem;
}

.logo {
  position: absolute;
  top: 20px;
  left: calc(50% - 50px);
  transform: translate(-50%, -150%);
  animation: logoProject 1s ease forwards;
}
@keyframes logoProject {
  to {
    transform: translate(-50%, 0%);
  }
}
@media screen and (max-width: 1030px) {
  .logo {
    left: 80px;
  }
}
@media screen and (max-height: 739px) {
  .logo {
    display: none;
  }
}

.project {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project .cercle-1 {
  height: 460px;
  width: 460px;
  border: 1px solid #00c1ec;
  opacity: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: -500px;
  left: -200px;
  z-index: 0;
}
@media only screen and (max-width: 768px) {
  .project .cercle-1 {
    display: none;
  }
}
@media only screen and (orientation: landscape) {
  .project .cercle-1 {
    display: none;
  }
}
.project .project-main {
  width: 90%;
  display: grid;
  grid-template-columns: 33% 67%;
  position: relative;
  text-align: right;
}
@media screen and (max-width: 810px) {
  .project .project-main {
    grid-template-columns: 25% 75%;
  }
}
@media screen and (max-width: 700px) {
  .project .project-main {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
  }
}
@media screen and (max-height: 600px) {
  .project .project-main {
    margin: 3rem 1rem 0;
  }
}
.project .project-main .project-content {
  margin-right: 20px;
}
@media screen and (max-width: 700px) {
  .project .project-main .project-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
  }
}
.project .project-main .project-content h1 {
  font-size: 3rem;
  margin-bottom: 12px;
  font-family: "font-2", serif;
  transform: scaleX(0);
  animation: transformTitle 1.5s ease forwards;
  transform-origin: 150%;
}
@media screen and (max-width: 810px) {
  .project .project-main .project-content h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .project .project-main .project-content h1 {
    font-size: 1.2rem;
  }
}
@keyframes transformTitle {
  to {
    transform: scaleX(1);
  }
}
.project .project-main .project-content .cercle-2 {
  height: 340px;
  width: 340px;
  border-radius: 50%;
  position: absolute;
  top: -28px;
  left: 70px;
  z-index: 0;
  opacity: 10%;
}
@media only screen and (max-width: 768px) {
  .project .project-main .project-content .cercle-2 {
    display: none;
  }
}
@media only screen and (orientation: landscape) {
  .project .project-main .project-content .cercle-2 {
    display: none;
  }
}
.project .project-main .project-content p {
  margin-bottom: 50px;
  font-size: 1.2rem;
}
@media screen and (max-width: 700px) {
  .project .project-main .project-content p {
    margin: 0;
  }
}
@media screen and (max-width: 450px) {
  .project .project-main .project-content p {
    font-size: 0.9rem;
  }
}
.project .project-main .project-content li {
  font-size: 1.5rem;
}
@media screen and (max-width: 700px) {
  .project .project-main .project-content li {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 400px) {
  .project .project-main .project-content li {
    font-size: 0.8rem;
  }
}
.project .project-main .img-content {
  position: relative;
  text-align: left;
  margin-left: 10px;
}
@media screen and (max-width: 700px) {
  .project .project-main .img-content {
    text-align: center;
    margin: 0 auto;
  }
}
.project .project-main .img-content .img-container {
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.26);
  width: 600px;
  height: 380px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}
@media screen and (max-width: 940px) {
  .project .project-main .img-content .img-container {
    height: 300px;
    width: 500px;
  }
}
@media screen and (max-width: 540px) {
  .project .project-main .img-content .img-container {
    height: 200px;
    width: 370px;
  }
}
@media screen and (max-width: 400px) {
  .project .project-main .img-content .img-container {
    height: 150px;
    width: 280px;
  }
}
.project .project-main .img-content .img-container:hover span,
.project .project-main .img-content .img-container span:hover {
  visibility: visible;
  transform: translateY(0);
}
.project .project-main .img-content .img-container img {
  -o-object-fit: center;
     object-fit: center;
  -o-object-position: 0%;
     object-position: 0%;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.4s ease-out;
  position: relative;
}
.project .project-main .img-content .img-container img:hover,
.project .project-main .img-content .img-container img span:hover img {
  transform: scale(1.2);
  filter: opacity(15%) contrast(150%);
}
.project .project-main .img-content .img-container span {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  line-height: 34px;
  font-size: 1.5rem;
  visibility: hidden;
  transition: 0.5s ease;
  transform: translateY(200px);
}
.project .project-main .img-content .img-container span h3 {
  padding-bottom: 10px;
  color: rgb(40, 40, 40);
}
.project .button-container {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.project .button-container a .button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  font-weight: 600;
  letter-spacing: 1px;
  height: 45px;
  width: 140px;
  border-radius: 52.5px;
  margin-top: 20px;
  font-size: 1.2rem;
  transition: all 0.2s;
}
.project .button-container a .button:hover {
  transform: translate(4px, -4px);
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
}
.project .button-container a .button:active {
  transform: translate(0px, 0px);
}
@media screen and (max-width: 410px) {
  .project .button-container a .button {
    width: 100px;
    font-size: 0.85rem;
  }
}
.project .random-circle {
  position: absolute;
  height: 400px;
  width: 400px;
  background: #e7f7fe;
  border-radius: 50%;
  opacity: 10%;
  z-index: 0;
  animation: circleAnim 30s infinite alternate;
}
@keyframes circleAnim {
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 768px) {
  .project .random-circle {
    display: none;
  }
}
@media only screen and (orientation: landscape) {
  .project .random-circle {
    display: none;
  }
}

.notFound {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.notFound h2 {
  font-size: 4rem;
  padding: 2rem;
}
.notFound h2:after {
  content: "";
  height: 500px;
  width: 500px;
  background: #e7f7fe;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.notFound h3 {
  font-size: 2rem;
  transition: 0.4s;
  padding: 10px;
}
.notFound h3:hover {
  transform: scale(1.3);
}

.cursor {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2;
}
.cursor .centerDot {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cursor.hovered {
  width: 30px;
  height: 30px;
}

.dynamic-text {
  position: relative;
  display: flex;
}
.dynamic-text #text-target {
  display: flex;
  width: 300px;
  text-align: left;
  animation: color 3s alternate infinite;
  perspective: 200px;
  transform: translateX(26px);
}
.dynamic-text .word {
  position: absolute;
}
@keyframes color {
  0% {
    color: white;
  }
  50% {
    color: white;
  }
  100% {
    color: white;
  }
}
.dynamic-text .letter {
  transform: translateZ(200px);
}
@keyframes anim {
  25% {
    transform: translateZ(0px);
    opacity: 1;
  }
  32% {
    opacity: 0;
    transform: translateZ(-280px) translateX(200px);
  }
}

.buttonGitHub {
  font-size: 45px;
  position: relative;
  top: 10px;
  transition: all 0.2s;
}
.buttonGitHub:hover {
  transform: translate(4px, -4px);
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
}
.buttonGitHub:active {
  transform: translate(0px, 0px);
}/*# sourceMappingURL=index.css.map */