.home {
  height: 100%;
  width: 100%;
  position: absolute;

  .home-main {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
    position: relative;

    .img-content {
      margin: 20px;
      border-radius: 20px;
      max-width: 400px;
      position: absolute;
      transform: translate(-307px, -20px);
      box-shadow: -1px 1px 1px #2DEEE7,
        -2px 2px 1px #2DEEE7,
        -3px 3px 1px #2deee7,
        -20px 18px 60px rgba(8, 8, 8, 0.51),
        -20px 20px 37px 0px #2deee734;

      @media screen and (max-width: 1110px) {
        transform: translateX(0);
      }

      img {
        object-fit: center;
        object-position: 0%;
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
    }

    .main-content {
      // border: solid;
      position: absolute;
      transform: translate(40px, 160px);

      @media screen and (max-width: 1110px) {
        transform: translate(40px, 220px);
      }

      h1 {
        font-size: 2rem;
        position: relative;
        font-family: $font-2;

        @media screen and (min-width: 1110px) {
          font-size: 5rem;
        }
      }

      h2 {
        //font-size: 500px;
        font-weight: 100;
        position: relative;
        font-size: 2rem;

        @media screen and (min-width: 1110px) {
          font-size: 5rem;
        }
      }
    }
  }
}