.notFound {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #414141;
  color: white;

  h2 {
    font-size: 3.5rem;
    padding: 2rem;

    &:after {
      content: '';
      height: 500px;
      width: 500px;
      border: #2DEEE7 solid 1px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }
  }

  h3 {
    font-size: 1.5rem;
    transition: .3s;
    padding: 10px;
    color: #2DEEE7;
    transform: scale(1);

    &:hover {
      transform: scale(1.2);
      //color: #2DEEE7;
    }

    &:active {
      transform: scale(1);
      //color: #2DEEE7;
    }
  }
}